@font-face {
    font-family: 'jj bd';
    src: url('jj bd.otf');
    font-weight: normal;
}
@font-face {
    font-family: 'jj bd it';
    src: url('jj bd it.otf');
    font-weight: normal;
}
@font-face {
    font-family: 'jj bk';
    src: url('jj bk.otf');
    font-weight: normal;
}
@font-face {
    font-family: 'jj bk it';
    src: url('jj bk it.otf');
    font-weight: normal;
}
@font-face {
    font-family: 'jj bl';
    src: url('jj bl.otf');
    font-weight: normal;
}
@font-face {
    font-family: 'jj bl it';
    src: url('jj bl it.otf');
    font-weight: normal;
}
@font-face {
    font-family: 'jj el';
    src: url('jj el.otf');
    font-weight: normal;
}
@font-face {
    font-family: 'jj el it';
    src: url('jj el it.otf');
    font-weight: normal;
}
@font-face {
    font-family: 'jj lt';
    src: url('jj lt.otf');
    font-weight: normal;
}
@font-face {
    font-family: 'jj lt it';
    src: url('jj lt it.otf');
    font-weight: normal;
}
@font-face {
    font-family: 'jj rg';
    src: url('jj rg.otf');
    font-weight: normal;
}
@font-face {
    font-family: 'jj rg it';
    src: url('jj rg it.otf');
    font-weight: normal;
}
@font-face {
    font-family: 'jj ul';
    src: url('jj ul.otf');
    font-weight: normal;
}
@font-face {
    font-family: 'jj ul it';
    src: url('jj ul it.otf');
    font-weight: normal;
}